Today, I'll be learning about FILTERING, GROUPING AND HOW TO MERGE BOTH WITH CONDITIONAL STATEMENT

In [2]:
# 1. LOAD FILE#
import pandas as pd

df = pd.read_csv("supmkt.csv")
df.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
0,DRA12,CHUKWUDI010,DRA12_CHUKWUDI010,11.6,Low Fat,0.068535,Soft Drinks,357.54,2005,NaN,Cluster 3,Grocery Store,709.08
1,DRA12,CHUKWUDI013,DRA12_CHUKWUDI013,11.6,Low Fat,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,DRA12,CHUKWUDI017,DRA12_CHUKWUDI017,11.6,Low Fat,0.041178,Soft Drinks,350.79,2014,NaN,Cluster 2,Supermarket Type1,6381.69
3,DRA12,CHUKWUDI018,DRA12_CHUKWUDI018,11.6,Low Fat,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,DRA12,CHUKWUDI035,DRA12_CHUKWUDI035,11.6,Ultra Low fat,0.000000,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77

In [ ]:
#2. FILTERING WITH .LOC[]
# - GOAL:
# IS TO SELECT THE ROWS OF A CERTAIN CONDITION
# -- FILTER WHERE SUPERMARKET SIZE IS 'MEDIUM'#

df_size = df.loc[df['Supermarket_Size'] == 'Medium']
df_size.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
4981,NCZ53,CHUKWUDI027,NCZ53_CHUKWUDI027,NaN,Low Fat,0.024359,Health and Hygiene,476.05,1992,Medium,Cluster 3,Supermarket Type3,14131.61
4982,NCZ53,CHUKWUDI049,NCZ53_CHUKWUDI049,9.60,Low Fat,0.024515,Health and Hygiene,473.05,2006,Medium,Cluster 1,Supermarket Type1,9892.12
4984,NCZ54,CHUKWUDI018,NCZ54_CHUKWUDI018,14.65,Low Fat,0.083699,Household,408.64,2016,Medium,Cluster 3,Supermarket Type2,6498.21
4986,NCZ54,CHUKWUDI027,NCZ54_CHUKWUDI027,NaN,Low Fat,0.082956,Household,410.14,1992,Medium,Cluster 3,Supermarket Type3,13808.69
4989,NCZ54,CHUKWUDI049,NCZ54_CHUKWUDI049,14.65,Low Fat,0.083489,Household,403.39,2006,Medium,Cluster 1,Supermarket Type1,17870.07

In [6]:
# 2B: FILTER WHERE Product_Supermarket_Sales IS GREATER THAN 5000#
df_product_supermarket_amount = df.loc[df['Product_Supermarket_Sales'] > 5000]
df_product_supermarket_amount.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
1,DRA12,CHUKWUDI013,DRA12_CHUKWUDI013,11.60,Low Fat,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,DRA12,CHUKWUDI017,DRA12_CHUKWUDI017,11.60,Low Fat,0.041178,Soft Drinks,350.79,2014,NaN,Cluster 2,Supermarket Type1,6381.69
5,DRA12,CHUKWUDI045,DRA12_CHUKWUDI045,11.60,Low Fat,0.000000,Soft Drinks,354.04,2009,NaN,Cluster 2,Supermarket Type1,9572.54
7,DRA24,CHUKWUDI013,DRA24_CHUKWUDI013,19.35,Normal Fat,0.039895,Soft Drinks,406.22,1994,High,Cluster 3,Supermarket Type1,11055.61
10,DRA24,CHUKWUDI027,DRA24_CHUKWUDI027,NaN,Normal Fat,0.039735,Soft Drinks,414.47,1992,Medium,Cluster 3,Supermarket Type3,12284.01

In [9]:
# 2C. COMBINING BOTH df_size AND product_supermarket_amount < 5000 #
df_filtered = df.loc[(df['Supermarket_Size'] == 'Medium') & (df['Product_Supermarket_Sales'] > 5000)]
df_filtered.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
10,DRA24,CHUKWUDI027,DRA24_CHUKWUDI027,NaN,Normal Fat,0.039735,Soft Drinks,414.47,1992,Medium,Cluster 3,Supermarket Type3,12284.01
14,DRA59,CHUKWUDI018,DRA59_CHUKWUDI018,8.270,Normal Fat,0.128449,Soft Drinks,466.48,2016,Medium,Cluster 3,Supermarket Type2,11105.54
16,DRA59,CHUKWUDI027,DRA59_CHUKWUDI027,NaN,Normal Fat,0.127308,Soft Drinks,466.73,1992,Medium,Cluster 3,Supermarket Type3,17583.78
23,DRB13,CHUKWUDI049,DRB13_CHUKWUDI049,6.115,Normal Fat,0.007055,Soft Drinks,471.63,2006,Medium,Cluster 1,Supermarket Type1,9013.27
27,DRB24,CHUKWUDI049,DRB24_CHUKWUDI049,8.785,Low Fat,0.020609,Soft Drinks,387.91,2006,Medium,Cluster 1,Supermarket Type1,10040.26

Today, I will be working on how to group data and perform Product_type per Product_Price

In [11]:
df.groupby('Product_Type')['Product_Price'].sum()

Product_Type
Baking Goods             125532.11
Breads                    54685.91
Breakfast                 26092.99
Canned                   147285.83
Dairy                    143326.52
Frozen Foods             177348.49
Fruits and Vegetables    297491.34
Hard Drinks               50464.24
Health and Hygiene       112712.91
Household                226799.67
Meat                     103211.54
Others                    38860.77
Seafood                   16479.87
Snack Foods              299676.96
Soft Drinks              101006.54
Starchy Foods             34125.25
Name: Product_Price, dtype: float64

3b- we will have to find the average Product_Type per Product_Price. when everr we hear aveage mean should come to our mind.

In [13]:
df.groupby('Product_Type')['Product_Price'].mean()

Product_Type
Baking Goods             364.918924
Breads                   399.167226
Breakfast                395.348333
Canned                   391.717633
Dairy                    409.504343
Frozen Foods             388.071094
Fruits and Vegetables    398.248112
Hard Drinks              376.598806
Health and Hygiene       367.143029
Household                399.999418
Meat                     390.952803
Others                   388.607700
Seafood                  401.948049
Snack Foods              395.352190
Soft Drinks              386.998238
Starchy Foods            421.299383
Name: Product_Price, dtype: float64