In [2]:
import pandas as pd

print("pandas version", pd.__version__)

#   READING A CSV FILE IN PANDAS
# - WE FIRST LOAD OUR SUPMKT.CSV FILE
# - IF IT'S IN THE SAME FOLDER AS PANDAS WE SIMPLY SAY
# -THEN RUN USING DF.HEAD()#

df = pd.read_csv('supmkt.csv')
df.head()

# - IF IT'S ANOTHER FOLDER, I WILL USE
# SOMETHING LIKE DATA/#

pandas version 2.3.1

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
0,DRA12,CHUKWUDI010,DRA12_CHUKWUDI010,11.6,Low Fat,0.068535,Soft Drinks,357.54,2005,NaN,Cluster 3,Grocery Store,709.08
1,DRA12,CHUKWUDI013,DRA12_CHUKWUDI013,11.6,Low Fat,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,DRA12,CHUKWUDI017,DRA12_CHUKWUDI017,11.6,Low Fat,0.041178,Soft Drinks,350.79,2014,NaN,Cluster 2,Supermarket Type1,6381.69
3,DRA12,CHUKWUDI018,DRA12_CHUKWUDI018,11.6,Low Fat,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,DRA12,CHUKWUDI035,DRA12_CHUKWUDI035,11.6,Ultra Low fat,0.000000,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77

In [3]:
df.tail()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
4985,NCZ54,CHUKWUDI019,NCZ54_CHUKWUDI019,NaN,Low Fat,0.145952,Household,402.39,1992,Small,Cluster 1,Grocery Store,406.14
4986,NCZ54,CHUKWUDI027,NCZ54_CHUKWUDI027,NaN,Low Fat,0.082956,Household,410.14,1992,Medium,Cluster 3,Supermarket Type3,13808.69
4987,NCZ54,CHUKWUDI045,NCZ54_CHUKWUDI045,14.65,Low Fat,0.083528,Household,406.14,2009,NaN,Cluster 2,Supermarket Type1,5685.93
4988,NCZ54,CHUKWUDI046,NCZ54_CHUKWUDI046,14.65,Low Fat,0.083359,Household,404.89,2004,Small,Cluster 1,Supermarket Type1,11778.00
4989,NCZ54,CHUKWUDI049,NCZ54_CHUKWUDI049,14.65,Low Fat,0.083489,Household,403.39,2006,Medium,Cluster 1,Supermarket Type1,17870.07

In [4]:
df.shape

(4990, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4990 entries, 0 to 4989
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Product_Identifier              4990 non-null   object
 1   Supermarket_Identifier          4990 non-null   object
 2   Product_Supermarket_Identifier  4990 non-null   object
 3   Product_Weight                  4188 non-null   float64
 4   Product_Fat_Content             4990 non-null   object
 5   Product_Shelf_Visibility        4990 non-null   float64
 6   Product_Type                    4990 non-null   object
 7   Product_Price                   4990 non-null   float64
 8   Supermarket_Opening_Year        4990 non-null   int64
 9   Supermarket_Size                3540 non-null   object
 10  Supermarket_Location_Type       4990 non-null   object
 11  Supermarket_Type                4990 non-null   object
 12  Product_Supermarket_Sales       4990 non-null   float64
dtypes: float64(4), int64(1), object(8)
memory usage: 506.9+ KB

In [6]:
#- NOW, WE ARE GOING TO FIND WHICH ROWS HAVE MISSING DATA
# -1 CHECK IF ANY VALUE IS MISSING#
df.isnull().sum()

Product_Identifier                   0
Supermarket_Identifier               0
Product_Supermarket_Identifier       0
Product_Weight                     802
Product_Fat_Content                  0
Product_Shelf_Visibility             0
Product_Type                         0
Product_Price                        0
Supermarket_Opening_Year             0
Supermarket_Size                  1450
Supermarket_Location_Type            0
Supermarket_Type                     0
Product_Supermarket_Sales            0
dtype: int64

In [7]:
# TO SHOW ONLY ROWS WITH MISSING VALUES#
df[df.isnull().any(axis=1)]

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
0,DRA12,CHUKWUDI010,DRA12_CHUKWUDI010,11.60,Low Fat,0.068535,Soft Drinks,357.54,2005,NaN,Cluster 3,Grocery Store,709.08
2,DRA12,CHUKWUDI017,DRA12_CHUKWUDI017,11.60,Low Fat,0.041178,Soft Drinks,350.79,2014,NaN,Cluster 2,Supermarket Type1,6381.69
5,DRA12,CHUKWUDI045,DRA12_CHUKWUDI045,11.60,Low Fat,0.000000,Soft Drinks,354.04,2009,NaN,Cluster 2,Supermarket Type1,9572.54
6,DRA24,CHUKWUDI010,DRA24_CHUKWUDI010,19.35,Normal Fat,0.066832,Soft Drinks,409.72,2005,NaN,Cluster 3,Grocery Store,818.93
8,DRA24,CHUKWUDI017,DRA24_CHUKWUDI017,19.35,Normal Fat,0.040154,Soft Drinks,411.72,2014,NaN,Cluster 2,Supermarket Type1,2866.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4981,NCZ53,CHUKWUDI027,NCZ53_CHUKWUDI027,NaN,Low Fat,0.024359,Health and Hygiene,476.05,1992,Medium,Cluster 3,Supermarket Type3,14131.61
4983,NCZ54,CHUKWUDI010,NCZ54_CHUKWUDI010,14.65,Low Fat,0.000000,Household,403.89,2005,NaN,Cluster 3,Grocery Store,812.28
4985,NCZ54,CHUKWUDI019,NCZ54_CHUKWUDI019,NaN,Low Fat,0.145952,Household,402.39,1992,Small,Cluster 1,Grocery Store,406.14
4986,NCZ54,CHUKWUDI027,NCZ54_CHUKWUDI027,NaN,Low Fat,0.082956,Household,410.14,1992,Medium,Cluster 3,Supermarket Type3,13808.69
4987,NCZ54,CHUKWUDI045,NCZ54_CHUKWUDI045,14.65,Low Fat,0.083528,Household,406.14,2009,NaN,Cluster 2,Supermarket Type1,5685.93

In [9]:
# TO SHOW MISSING ROWS IN ONE SPECIFIC COLUMN
# HELPS ME TO FOCUS ON ONE SPECIFIC COLUM#
df[df['Supermarket_Size'].isnull()]

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
0,DRA12,CHUKWUDI010,DRA12_CHUKWUDI010,11.60,Low Fat,0.068535,Soft Drinks,357.54,2005,NaN,Cluster 3,Grocery Store,709.08
2,DRA12,CHUKWUDI017,DRA12_CHUKWUDI017,11.60,Low Fat,0.041178,Soft Drinks,350.79,2014,NaN,Cluster 2,Supermarket Type1,6381.69
5,DRA12,CHUKWUDI045,DRA12_CHUKWUDI045,11.60,Low Fat,0.000000,Soft Drinks,354.04,2009,NaN,Cluster 2,Supermarket Type1,9572.54
6,DRA24,CHUKWUDI010,DRA24_CHUKWUDI010,19.35,Normal Fat,0.066832,Soft Drinks,409.72,2005,NaN,Cluster 3,Grocery Store,818.93
8,DRA24,CHUKWUDI017,DRA24_CHUKWUDI017,19.35,Normal Fat,0.040154,Soft Drinks,411.72,2014,NaN,Cluster 2,Supermarket Type1,2866.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4972,NCZ30,CHUKWUDI017,NCZ30_CHUKWUDI017,6.59,Low Fat,0.000000,Household,297.77,2014,NaN,Cluster 2,Supermarket Type1,2410.20
4975,NCZ41,CHUKWUDI017,NCZ41_CHUKWUDI017,19.85,Low Fat,0.064786,Health and Hygiene,309.43,2014,NaN,Cluster 2,Supermarket Type1,6258.52
4978,NCZ42,CHUKWUDI017,NCZ42_CHUKWUDI017,10.50,Low Fat,0.011352,Household,591.31,2014,NaN,Cluster 2,Supermarket Type1,10073.55
4983,NCZ54,CHUKWUDI010,NCZ54_CHUKWUDI010,14.65,Low Fat,0.000000,Household,403.89,2005,NaN,Cluster 3,Grocery Store,812.28
4987,NCZ54,CHUKWUDI045,NCZ54_CHUKWUDI045,14.65,Low Fat,0.083528,Household,406.14,2009,NaN,Cluster 2,Supermarket Type1,5685.93

 PART 2: Accessing Columns and Summarizing Data
Now that you're exploring your data, here’s how to access and describe it:

In [10]:
#1. GET ONE COLUMN#
df['Product_Fat_Content']

0             Low Fat
1             Low Fat
2             Low Fat
3             Low Fat
4       Ultra Low fat
            ...
4985          Low Fat
4986          Low Fat
4987          Low Fat
4988          Low Fat
4989          Low Fat
Name: Product_Fat_Content, Length: 4990, dtype: object

In [12]:
# 2. GET MULTIPLES COLUMN#
df[['Product_Supermarket_Identifier', 'Product_Supermarket_Sales']]

     Product_Supermarket_Identifier  Product_Supermarket_Sales
0                 DRA12_CHUKWUDI010                     709.08
1                 DRA12_CHUKWUDI013                    6381.69
2                 DRA12_CHUKWUDI017                    6381.69
3                 DRA12_CHUKWUDI018                    2127.23
4                 DRA12_CHUKWUDI035                    2481.77
...                             ...                        ...
4985              NCZ54_CHUKWUDI019                     406.14
4986              NCZ54_CHUKWUDI027                   13808.69
4987              NCZ54_CHUKWUDI045                    5685.93
4988              NCZ54_CHUKWUDI046                   11778.00
4989              NCZ54_CHUKWUDI049                   17870.07

[4990 rows x 2 columns]

In [15]:
#3. GET BASIC STATS FOR ALL NUMERIC COLUMNS#
df.describe()

,Product_Weight,Product_Shelf_Visibility,Product_Price,Supermarket_Opening_Year,Product_Supermarket_Sales
count,4188.000000,4990.000000,4990.000000,4990.000000,4990.000000
mean,12.908838,0.066916,391.803796,2004.783567,6103.520164
std,4.703256,0.053058,119.378259,8.283151,4447.333835
min,4.555000,0.000000,78.730000,1992.000000,83.230000
25%,8.767500,0.027273,307.890000,1994.000000,2757.660000
50%,12.600000,0.053564,393.860000,2006.000000,5374.675000
75%,17.100000,0.095358,465.067500,2011.000000,8522.240000
max,21.350000,0.328391,667.220000,2016.000000,32717.410000

In [14]:
#4. SEE HOW MANY TIMES EACH VALUE APPEARS FOR (LIKE FOR CATEGORIES)#
df['Supermarket_Opening_Year'].value_counts()

Supermarket_Opening_Year
1992    802
2006    620
1994    594
2014    583
2011    515
2004    509
2016    500
2009    483
2005    384
Name: count, dtype: int64