In [5]:
import pandas as pd

In [6]:
df= pd.read_csv('FMCG_2022_2024.CSV')
df.head()

,date,sku,brand,segment,category,channel,region,pack_type,price_unit,promotion_flag,delivery_days,stock_available,delivered_qty,units_sold
0,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-Central,Multipack,2.38,0,1,141,128,9
1,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-North,Single,1.55,1,3,0,129,0
2,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-South,Carton,4.00,0,5,118,161,8
3,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-Central,Single,5.16,0,2,81,114,7
4,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-North,Single,7.66,0,4,148,204,12

TIME SERIES ANALYSIS

WHAT IS TIME SERIES:

Time series data is data collected over time intervals- daily stock prices, montly sales etc

In [104]:
# STEP 1:
# INSPECT THE CURRENT TYPE OF THE Supermarket_Opening_Year COLUMN#
print(df['date'].dtype)

# IF IT'S AN INTEGER(eg. 2007, 2010), WE'LL CONVERT IT TO DATETIME.#

object

In [ ]:
#set to date time

In [3]:
#STEP 2:
# - CONVERT A COLUMN TO DATETIME
df['Date'] = pd.to_datetime(df['date'])
# #

NameError: name 'pd' is not defined

In [117]:
df.head()

,date,sku,brand,segment,category,channel,region,pack_type,price_unit,promotion_flag,delivery_days,stock_available,delivered_qty,units_sold,Month,Year,rolling_avg,Date
Date,,,,,,,,,,,,,,,,,,
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-Central,Multipack,2.38,0,1,141,128,9,1,2022,NaN,2022-01-21
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-North,Single,1.55,1,3,0,129,0,1,2022,NaN,2022-01-21
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-South,Carton,4.00,0,5,118,161,8,1,2022,NaN,2022-01-21
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-Central,Single,5.16,0,2,81,114,7,1,2022,NaN,2022-01-21
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-North,Single,7.66,0,4,148,204,12,1,2022,NaN,2022-01-21

MORE EXAMPLE CODE
IF YOU WANT TO GET YEAR,NONTH, DAY, PARTICULAR DAY:
df['Year'] = df['Date'].dt.year

df['Month'] = df['Date'].dt.month

df['Day'] = df['Date'].dt.day

df['Weekday'] = df['Date'].dt.day_name()

In [118]:
df['Month'] = df['Date'].dt.month
df.head()

,date,sku,brand,segment,category,channel,region,pack_type,price_unit,promotion_flag,delivery_days,stock_available,delivered_qty,units_sold,Month,Year,rolling_avg,Date
Date,,,,,,,,,,,,,,,,,,
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-Central,Multipack,2.38,0,1,141,128,9,1,2022,NaN,2022-01-21
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-North,Single,1.55,1,3,0,129,0,1,2022,NaN,2022-01-21
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-South,Carton,4.00,0,5,118,161,8,1,2022,NaN,2022-01-21
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-Central,Single,5.16,0,2,81,114,7,1,2022,NaN,2022-01-21
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-North,Single,7.66,0,4,148,204,12,1,2022,NaN,2022-01-21

In [119]:
df['Year'] = df['Date'].dt.year
df.head()

,date,sku,brand,segment,category,channel,region,pack_type,price_unit,promotion_flag,delivery_days,stock_available,delivered_qty,units_sold,Month,Year,rolling_avg,Date
Date,,,,,,,,,,,,,,,,,,
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-Central,Multipack,2.38,0,1,141,128,9,1,2022,NaN,2022-01-21
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-North,Single,1.55,1,3,0,129,0,1,2022,NaN,2022-01-21
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-South,Carton,4.00,0,5,118,161,8,1,2022,NaN,2022-01-21
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-Central,Single,5.16,0,2,81,114,7,1,2022,NaN,2022-01-21
2022-01-21,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-North,Single,7.66,0,4,148,204,12,1,2022,NaN,2022-01-21

STEP 2- RESAMPLING DATA

THIS IS USED TO CHANGE THE FREQUENCY OF YOUR TIME SERIES- 

TWO TYPES OF RESAMPLING INCLUDES:
- DOWNSAMPLING = GOING FROM HIGHER FREQUENCY TO LOWER FREQUENCY (eg. daily -> monthly)
- UPSAMPLING = GOING FROM LOWER FREQUENCY TO HIGHER FREQUENCY (eg., monthly).

RESAMPLING LET'S YOU SUMMARIZE TIME-BASED DATA( USING MEAN, SUM, COUNT, ETC)

In [108]:
print(df.columns.tolist())

['date', 'sku', 'brand', 'segment', 'category', 'channel', 'region', 'pack_type', 'price_unit', 'promotion_flag', 'delivery_days', 'stock_available', 'delivered_qty', 'units_sold', 'Date', 'Month', 'Year']

In [120]:
#TO SHOW UNIT_SOLD PER PER#
df.set_index('Date', inplace=True, drop=False)

In [121]:
monthly_unit_sales = df['units_sold'].resample('ME').sum()

In [122]:
monthly_unit_sales.head()

Date
2022-01-31     2095
2022-02-28     5647
2022-03-31    16353
2022-04-30    33688
2022-05-31    53165
Freq: ME, Name: units_sold, dtype: int64

3- ROLLING MEAN (MOVING AVERAGE)-

THIS IS A WAY TO SMOTHEN OUT SHORT-TERM NOISE

In [123]:
#APPLYING ROLLING MEAN TO THE UNIT SOLD PER TIME WITH 7 DAYS INTERDAL#

df['rolling_avg']= df['units_sold'].rolling(window=7).mean()
df['rolling_avg'].head()

Date
2022-01-21   NaN
2022-01-21   NaN
2022-01-21   NaN
2022-01-21   NaN
2022-01-21   NaN
Name: rolling_avg, dtype: float64

I think there are multiple same date. i will have to check because it's not giving me the desired outcome

In [124]:
#df['Date'].value_counts().head()
print(df.columns.tolist())

['date', 'sku', 'brand', 'segment', 'category', 'channel', 'region', 'pack_type', 'price_unit', 'promotion_flag', 'delivery_days', 'stock_available', 'delivered_qty', 'units_sold', 'Month', 'Year', 'rolling_avg', 'Date']

In [125]:
df['Date'].value_counts().head()

Date
2024-07-30    248
2024-06-16    247
2023-08-02    247
2023-08-31    246
2024-08-04    244
Name: count, dtype: int64

⚠️ 2. You have multiple entries per day (duplicated dates)
From your earlier messages, you mentioned all rows showing 2022-01-21. That means rolling is calculating within the same date repeated, not across actual time progression.

🔍 Try checking:

df['Date'].value_counts().head()

✅ Solution if you have multiple entries per day:
You must aggregate first, e.g., total units sold per day:

daily_sales = df.groupby('Date')['units_sold'].sum().reset_index()

daily_sales = daily_sales.sort_values('Date')

daily_sales = daily_sales.set_index('Date')

daily_sales['rolling_avg'] = daily_sales['units_sold'].rolling(window=7).mean()

In [127]:
df['rolling_avg'] = df['units_sold'].rolling(window=7).mean()
df['rolling_avg'].head()

Date
2022-01-21   NaN
2022-01-21   NaN
2022-01-21   NaN
2022-01-21   NaN
2022-01-21   NaN
Name: rolling_avg, dtype: float64

In [ ]:
print(df['units_sold'].isnull().sum())

0

In [132]:
#DROP DATE FROM COLUMN SINCE DATE IS IN COLUMN AND ALSO IN INDEX
df = df.reset_index(drop=True)

In [134]:
df['Date'] = pd.to_datetime(df['Date'])

In [135]:
df = df.sort_values('Date')

In [137]:
 df.set_index('Date', inplace=True)

In [138]:
print(df.columns)

Index(['date', 'sku', 'brand', 'segment', 'category', 'channel', 'region',
       'pack_type', 'price_unit', 'promotion_flag', 'delivery_days',
       'stock_available', 'delivered_qty', 'units_sold', 'Month', 'Year',
       'rolling_avg'],
      dtype='object')

In [140]:
df['rolling_avg'] = df['units_sold'].rolling(window=7).mean()
df['rolling_avg'].head(50)

Date
2022-01-21          NaN
2022-01-21          NaN
2022-01-21          NaN
2022-01-21          NaN
2022-01-21          NaN
2022-01-21          NaN
2022-01-21     9.714286
2022-01-21    10.857143
2022-01-22    12.285714
2022-01-22    12.571429
2022-01-22    13.142857
2022-01-22    12.571429
2022-01-22    10.285714
2022-01-22    11.714286
2022-01-22    10.857143
2022-01-22    12.571429
2022-01-22    12.857143
2022-01-22    16.714286
2022-01-22    16.285714
2022-01-22    17.000000
2022-01-23    16.857143
2022-01-23    17.571429
2022-01-23    15.714286
2022-01-23    16.285714
2022-01-23    12.142857
2022-01-23    12.714286
2022-01-23    12.714286
2022-01-23    11.857143
2022-01-23    11.000000
2022-01-23    15.857143
2022-01-23    15.714286
2022-01-23    16.428571
2022-01-23    15.857143
2022-01-23    15.428571
2022-01-24    17.714286
2022-01-24    18.857143
2022-01-24    14.000000
2022-01-24    13.857143
2022-01-24    12.857143
2022-01-24    12.142857
2022-01-24    11.857143
2022-01-24     9.714286
2022-01-24     9.714286
2022-01-24    10.000000
2022-01-24     9.571429
2022-01-24    10.428571
2022-01-24    10.857143
2022-01-25    11.000000
2022-01-25    10.428571
2022-01-25     9.142857
Name: rolling_avg, dtype: float64