In [10]:
import pandas as pd

In [11]:
df= pd.read_csv('supmkt.csv')
df.head()

,Product_Identifier,Supermarket_Identifier,Product_Supermarket_Identifier,Product_Weight,Product_Fat_Content,Product_Shelf_Visibility,Product_Type,Product_Price,Supermarket_Opening_Year,Supermarket_Size,Supermarket_Location_Type,Supermarket_Type,Product_Supermarket_Sales
0,DRA12,CHUKWUDI010,DRA12_CHUKWUDI010,11.6,Low Fat,0.068535,Soft Drinks,357.54,2005,NaN,Cluster 3,Grocery Store,709.08
1,DRA12,CHUKWUDI013,DRA12_CHUKWUDI013,11.6,Low Fat,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,DRA12,CHUKWUDI017,DRA12_CHUKWUDI017,11.6,Low Fat,0.041178,Soft Drinks,350.79,2014,NaN,Cluster 2,Supermarket Type1,6381.69
3,DRA12,CHUKWUDI018,DRA12_CHUKWUDI018,11.6,Low Fat,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,DRA12,CHUKWUDI035,DRA12_CHUKWUDI035,11.6,Ultra Low fat,0.000000,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77

TIME SERIES ANALYSIS

WHAT IS TIME SERIES:

Time series data is data collected over time intervals- daily stock prices, montly sales etc

In [12]:
# STEP 1:
# INSPECT THE CURRENT TYPE OF THE Supermarket_Opening_Year COLUMN#
print(df['Supermarket_Opening_Year'].dtype)

# IF IT'S AN INTEGER(eg. 2007, 2010), WE'LL CONVERT IT TO DATETIME.#

int64

In [17]:
#STEP 2:
# - CONVERT A COLUMN TO DATETIME
df['Opening_Date'] = pd.to_datetime(df['Supermarket_Opening_Year'], format='%Y')
# #

In [ ]:
print(df.head())

     Product_Identifier Supermarket_Identifier Product_Supermarket_Identifier  \
0                 DRA12            CHUKWUDI010              DRA12_CHUKWUDI010
1                 DRA12            CHUKWUDI013              DRA12_CHUKWUDI013
2                 DRA12            CHUKWUDI017              DRA12_CHUKWUDI017
3                 DRA12            CHUKWUDI018              DRA12_CHUKWUDI018
4                 DRA12            CHUKWUDI035              DRA12_CHUKWUDI035
...                 ...                    ...                            ...
4985              NCZ54            CHUKWUDI019              NCZ54_CHUKWUDI019
4986              NCZ54            CHUKWUDI027              NCZ54_CHUKWUDI027
4987              NCZ54            CHUKWUDI045              NCZ54_CHUKWUDI045
4988              NCZ54            CHUKWUDI046              NCZ54_CHUKWUDI046
4989              NCZ54            CHUKWUDI049              NCZ54_CHUKWUDI049

      Product_Weight Product_Fat_Content  Product_Shelf_Visibility  \
0              11.60             Low Fat                  0.068535
1              11.60             Low Fat                  0.040912
2              11.60             Low Fat                  0.041178
3              11.60             Low Fat                  0.041113
4              11.60       Ultra Low fat                  0.000000
...              ...                 ...                       ...
4985             NaN             Low Fat                  0.145952
4986             NaN             Low Fat                  0.082956
4987           14.65             Low Fat                  0.083528
4988           14.65             Low Fat                  0.083359
4989           14.65             Low Fat                  0.083489

     Product_Type  Product_Price  Supermarket_Opening_Year Supermarket_Size  \
0     Soft Drinks         357.54                      2005              NaN
1     Soft Drinks         355.79                      1994             High
2     Soft Drinks         350.79                      2014              NaN
3     Soft Drinks         355.04                      2016           Medium
4     Soft Drinks         354.79                      2011            Small
...           ...            ...                       ...              ...
4985    Household         402.39                      1992            Small
4986    Household         410.14                      1992           Medium
4987    Household         406.14                      2009              NaN
4988    Household         404.89                      2004            Small
4989    Household         403.39                      2006           Medium

     Supermarket_Location_Type   Supermarket_Type  Product_Supermarket_Sales  \
0                    Cluster 3      Grocery Store                     709.08
1                    Cluster 3  Supermarket Type1                    6381.69
2                    Cluster 2  Supermarket Type1                    6381.69
3                    Cluster 3  Supermarket Type2                    2127.23
4                    Cluster 2  Supermarket Type1                    2481.77
...                        ...                ...                        ...
4985                 Cluster 1      Grocery Store                     406.14
4986                 Cluster 3  Supermarket Type3                   13808.69
4987                 Cluster 2  Supermarket Type1                    5685.93
4988                 Cluster 1  Supermarket Type1                   11778.00
4989                 Cluster 1  Supermarket Type1                   17870.07

     Opening_Date
0      2005-01-01
1      1994-01-01
2      2014-01-01
3      2016-01-01
4      2011-01-01
...           ...
4985   1992-01-01
4986   1992-01-01
4987   2009-01-01
4988   2004-01-01
4989   2006-01-01

[4990 rows x 14 columns]